<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ServletProject-2</display-name>
  
  <welcome-file-list>
    <welcome-file>LoginForm.jsp</welcome-file>
  </welcome-file-list>

<!-- HttpServlet-1 -->    
  <servlet>
  	<servlet-name>Obj1</servlet-name>
  	<servlet-class>pkg1.One</servlet-class>	
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Obj1</servlet-name>
  	<url-pattern>/one</url-pattern>
  </servlet-mapping>
 
<!-- Login -->
	<servlet>
	  	<servlet-name>Obj2</servlet-name>
	  	<servlet-class>pkg2.Login</servlet-class>	
	  </servlet>
	  
	  <servlet-mapping>
	  	<servlet-name>Obj2</servlet-name>
	  	<url-pattern>/login</url-pattern>
	  </servlet-mapping>

<!-- RedirectTest -->
  	<servlet>
	  	<servlet-name>Obj3</servlet-name>
	  	<servlet-class>pkg2.RedirectTest</servlet-class>	
	  </servlet>
	  
	  <servlet-mapping>
	  	<servlet-name>Obj3</servlet-name>
	  	<url-pattern>/RedirectTest</url-pattern>
	  </servlet-mapping>
</web-app>