<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>HelloWorld</display-name>
  
  <welcome-file-list>   
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- First Servlet -->
	  <servlet>
	  	<servlet-name>obj1</servlet-name>
	  	<servlet-class>unit1.HelloWorld</servlet-class> 	
	  </servlet>  
	  
	  <servlet-mapping>
	  	<servlet-name>obj1</servlet-name>
	  	<url-pattern>/hello</url-pattern>
	  </servlet-mapping>
  
<!-- Second Servlet -->
	  <servlet>
	  	<servlet-name>obj2</servlet-name>
	  	<servlet-class>unit1.Second</servlet-class> 	
	  </servlet>  
	  
	  <servlet-mapping>
	  	<servlet-name>obj2</servlet-name>
	  	<url-pattern>/second</url-pattern>
	  </servlet-mapping>

<!-- Third Servlet -->
	<servlet>
	  	<servlet-name>obj3</servlet-name>
	  	<servlet-class>unit1.Third</servlet-class> 	
	  </servlet>  
	  
	  <servlet-mapping>
	  	<servlet-name>obj3</servlet-name>
	  	<url-pattern>/third</url-pattern>
	  </servlet-mapping>

<!-- Four Servlet -->
	<servlet>
	  	<servlet-name>obj4</servlet-name>
	  	<servlet-class>unit1.Four</servlet-class> 	
	  </servlet>  
	  
	  <servlet-mapping>
	  	<servlet-name>obj4</servlet-name>
	  	<url-pattern>/four</url-pattern>
	  </servlet-mapping>	

<!-- Five Servlet -->
	<servlet>
	  	<servlet-name>obj5</servlet-name>
	  	<servlet-class>unit1.Five</servlet-class> 	
	  </servlet>  
	  
	  <servlet-mapping>
	  	<servlet-name>obj5</servlet-name>
	  	<url-pattern>/five</url-pattern>
	  </servlet-mapping>	

<!-- six Servlet -->
	<servlet>
	  	<servlet-name>obj6</servlet-name>
	  	<servlet-class>unit1.Six</servlet-class> 	
	  </servlet>  
	  
	  <servlet-mapping>
	  	<servlet-name>obj6</servlet-name>
	  	<url-pattern>/six</url-pattern>
	  </servlet-mapping>		  	  	 	 
</web-app>